html {
    color: white;
    background: gray;
}

.willHide {
    display: none;
}

.alreadyHide1 {
    display: none;
}

.alreadyHide2 {
    display: none;
}

.alreadyHide3 {
    display: none;
}

.alreadyHide4 {
    display: none;
}

.alreadyHide5 {
    display: none;
}

.alreadyHide6 {
    display: none;
}

.alreadyHide7 {
    display: none;
}

.alreadyHide8 {
    display: none;
}

.alreadyHide9 {
    display: none;
}

.button1 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button2 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button3 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button4 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button5 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button6 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button7 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button8 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.button9 {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.buttgo {
    color: black;
    background-color: white;
    font-size: 16px;
    text-align: center;
    border: none;
    padding: 23 px 50 px
}